<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f44190ee-ff27-41a6-a8e8-5c55c070c808/resourcegroups/Default-Networking/providers/Microsoft.Web/sites/WebApplication220180116125225</ResourceId>
    <ResourceGroup>Default-Networking</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapplication220180116125225.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapplication220180116125225.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApplication220180116125225</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApplication220180116125225</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sjassoc_dbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sjams.database.windows.net;Initial Catalog=sjassoc_db;Persist Security Info=True;User ID=mwachtel;Password=Dic8keke;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication2.Models.sjassoc_dbEntities, WebApplication2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="sjassoc_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sjams.database.windows.net;Initial Catalog=sjassoc_db;Persist Security Info=True;User ID=mwachtel;Password=Dic8keke;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>